.post-card {
  margin-right: 16px;
  flex: 2;

  img {
    object-fit: cover;
    height: 500px;
  }
}

.post-container {
  display: flex;
  margin-bottom: 16px;
  height: 560px;
}

.preview-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  max-height: fit-content;
  border-radius: 4px;
}
