<div class="msct-container">
  <div class="posts-toolbar">
    <form #form="ngForm" (ngSubmit)="addPost(form)">
      <mat-form-field class="fill-width">
        <input
          matInput
          autofocus
          name="title"
          placeholder="Title"
          (focus)="$event.target.select()"
          [ngModel]="'untitled'"
        />
      </mat-form-field>

      <input
        #fileInput
        type="file"
        name="url"
        ngModel
        msctFileUploader
        class="hidden-input"
      />
      <button
        type="button"
        mat-icon-button
        (click)="fileInput.click()"
        (focus)="fileInput.click(); submitButton.focus()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>

      <button #submitButton mat-button type="submit">
        Send
      </button>
    </form>
    <mat-card *ngIf="form.value as post" class="post-card">
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      <img
        mat-card-image
        *ngIf="post.url"
        (load)="animationState = 'appear'"
        [src]="post.url"
        [@FlyIn]="animationState"
      />
    </mat-card>
  </div>
  <button mat-button type="button" [routerLink]="['/posts']">
    Back to posts
  </button>
</div>
