<form #form="ngForm" (ngSubmit)="submit()" class="new-comment-form">
  <mat-form-field
    class="fill-width msct-bright-textarea-field"
    appearance="outline"
  >
    <mat-label>
      Message
    </mat-label>
    <textarea
      #commentText
      (keydown.enter)="form.onSubmit()"
      [matAutosizeMinRows]="textareaRowMin"
      [matAutosizeMaxRows]="textareaRowMax"
      ngModel
      matInput
      matTextareaAutosize
      name="text"
      placeholder="Add a comment"
    ></textarea>
    <mat-hint>
      Press Shift+Enter for new line, Enter to send the comment
    </mat-hint>
  </mat-form-field>
</form>
