:host {
  margin-top: 16px;
  display: block;
}

.post-container {
  display: flex;
  margin-bottom: 16px;
  height: 560px;
}

.comment-preview-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  max-height: fit-content;
  border-radius: 4px;
}

.post-card {
  margin-right: 16px;
  flex: 2;
}

mat-toolbar {
  margin-bottom: 8px;
}
