.post-view {
  margin-bottom: 16px;

  img {
    max-height: 800px;
    width: 100%;
    object-fit: contain;
    cursor: zoom-in;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 8px 8px;

    &.strech-height {
      padding: 16px 8px;
    }

    &.red-bg {
      background-color: red;
    }
  }
}

.comment-list-container {
  margin-bottom: 16px;
  width: 100%;
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
}

.new-comment-form {
  margin-bottom: 16px;

  mat-form-field {
    width: 100%;
  }
}

.comment-container {
  margin-bottom: 16px;
  white-space: pre;
}

.replies-container {
  margin-left: 16px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  .reply-container {
    margin-bottom: 16px;
    white-space: pre;
  }
}
