<div class="msct-container">
  <button mat-button type="button" [routerLink]="['/posts']">
    Back
  </button>
  <ng-container *ngIf="post | async as post; else loading">
    <div *ngIf="!showFullSizeImage" [@Fade]="'fadeIn'">
      <div class="post-view">
        <h2 class="title">
          {{ post.title }}
        </h2>
        <img
          #overflowClass="msctOverflowClass"
          *ngIf="post.url"
          (click)="toggleFullSizeImage()"
          (load)="overflowClass.refresh()"
          [src]="post.url"
          msctOverflowClass="strech-height"
          overflow="height"
          threshold="800"
        />

        <msct-reactions
          [favoriteCount]="post.postReactions[0]"
          [happyCount]="post.postReactions[1]"
          [disappointedCount]="post.postReactions[2]"
          [sadCount]="post.postReactions[3]"
          (reactionSubmitted)="addPostReaction($event, post)"
        ></msct-reactions>
      </div>
      <div *ngIf="comments | async as comments" class="comment-list-container">
        <msct-new-comment
          [textareaRowMin]="3"
          [textareaRowMax]="3"
          (newCommentSubmitted)="addComment($event)"
        ></msct-new-comment>

        <div *ngFor="let comment of comments" class="comment-container">
          <msct-comment [comment]="comment"> </msct-comment>
          <msct-reactions
            [favoriteCount]="comment.commentReactions[0]"
            [happyCount]="comment.commentReactions[1]"
            [disappointedCount]="comment.commentReactions[2]"
            [sadCount]="comment.commentReactions[3]"
            (reactionSubmitted)="addCommentReaction($event, comment)"
          ></msct-reactions>

          <button mat-button (click)="toggleReplies(comment)">
            <ng-container *ngIf="comment.replyCount > 0">
              {{ comment.replyCount }} Replies
              <mat-icon *ngIf="!comment.showReplies"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="comment.showReplies">keyboard_arrow_up</mat-icon>
            </ng-container>
            <ng-container *ngIf="comment.replyCount <= 0">
              Reply
            </ng-container>
          </button>

          <div *ngIf="comment.showReplies" class="replies-container">
            <div
              *ngFor="let reply of comment.commentReplies"
              class="reply-container"
            >
              <msct-comment [comment]="reply"></msct-comment>
            </div>
            <msct-new-comment
              #currentComponent="msctNewComment"
              [textareaRowMin]="1"
              [textareaRowMax]="2"
              (newCommentSubmitted)="
                addReply($event, comment, currentComponent)
              "
            ></msct-new-comment>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <msct-full-size-image-display
      *ngIf="showFullSizeImage"
      (click)="toggleFullSizeImage()"
      [imageUrl]="post.url"
    ></msct-full-size-image-display>
  </ng-container>

  <ng-template #loading>
    <div [@Fade]="'fadeIn'">
      <div class="post-view">
        <h2 class="title">
          title
        </h2>
        <img mat-card-image src="assets/images/placeholder_meme.jpg" />
      </div>
    </div>
  </ng-template>
</div>
