<div class="msct-container">
  <form #form="ngForm" (ngSubmit)="addPost(form)">
    <mat-form-field class="fill-width">
      <input matInput name="title" placeholder="Title" ngModel/>
    </mat-form-field>

    <input #fileInput type="file" name="url" ngModel msctFileUploader class="hidden-input"/>
    <button type="button" mat-icon-button (click)="fileInput.click()">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>

    <button mat-button type="submit">
        Send
    </button>
  </form>
</div>
