.post-view {
  margin-bottom: 16px;
  display: block;
  position: relative;
  padding: 16px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  img {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    max-height: 800px;
    object-fit: contain;
    cursor: zoom-in;
  }
}

.full-size-image {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: zoom-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;

  .image-container {
    img {
      height: auto;
      width: auto;
    }
  }
}
