<div *ngIf="post | async as post; else loading">
  <div class="msct-container" *ngIf="!showFullSizeImage" [@Fade]="'fadeIn'">
    <div class="post-view">
      <h2 class="title">
        {{ post.title }}
      </h2>
      <img
        #overflowClass="msctOverflowClass"
        *ngIf="post.url"
        (click)="toggleFullSizeImage()"
        (load)="overflowClass.refresh()"
        [src]="post.url"
        msctOverflowClass="strech-height"
        overflow="height"
        threshold="800"
      />
    </div>
    <msct-comments [postId]="post.id"></msct-comments>
    <button mat-button type="button" [routerLink]="['/posts']">
      Back to posts
    </button>
  </div>
  <div
    class="full-size-image"
    *ngIf="showFullSizeImage"
    (click)="toggleFullSizeImage()"
    [@Fade]="'fadeIn'"
  >
    <div class="image-container">
      <img #postImage *ngIf="post.url" [src]="post.url" />
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="msct-container" [@Fade]="'fadeIn'">
    <div class="post-view">
      <h2 class="title">
        title
      </h2>
      <img mat-card-image src="assets/images/placeholder_meme.jpg" />
    </div>
    <button mat-button type="button" [routerLink]="['/posts']">
      Back to posts
    </button>
  </div>
</ng-template>
